nav li a{ 
    text-decoration: none;}
  nav li{ display: inline;
    list-style: none;
    margin: 10px;
    font-size: x-large;

} 
nav li :hover{ background-color: chartreuse;}

footer{ text-align: center;
    
        background-color: black;
    color: beige;

}
nav{
    background-color: lightsteelblue;
}